* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/bg.jpeg');
    background-size: cover;
    z-index: 1;
}

button {
    padding: 10px 20px;
}

.sounds-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 10px;
}

.sounds-container .sound-btn {
    cursor: pointer;
    padding: 5px 10%;
    border: 5px solid #7EA1FF;
    background-color: #FFD1E3;
    border-radius: 15px;
    text-align: center;
    transform: translateY(-30px);
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    text-shadow: 1px 1px 2px #000000;
    color: #ffffff;
    box-shadow: inset 0px 0px 8px 0px white, 1px 2px 7px 0px #6c6060;
    font-size: 25px;
}

.sounds-container .sound-btn.active {
    background-color: lightblue;
}

.sounds-container .sound-btn.show {
    transform: translateY(0);
    opacity: 1;
}

.demo {
    margin-top: 10px;
}

.person-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    overflow: hidden;
}

.person-container .person {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.person-container .person img {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100%;
    max-width: 400px;
    max-height: 540px;
    display: none;
}

.person-container .person.f0 :nth-child(1) { display: block; }
.person-container .person.f1 :nth-child(2) { display: block; }
.person-container .person.f2 :nth-child(3) { display: block; }
.person-container .person.f3 :nth-child(4) { display: block; }
.person-container .person.f4 :nth-child(5) { display: block; }
.person-container .person.f5 :nth-child(6) { display: block; }
.person-container .person.f6 :nth-child(7) { display: block; }

.person-container .person.f0 { background-size: contain, 0, 0, 0, 0, 0, 0; }
.person-container .person.f1 { background-size: 0, contain, 0, 0, 0, 0, 0; }
.person-container .person.f2 { background-size: 0, 0, contain, 0, 0, 0, 0; }
.person-container .person.f3 { background-size: 0, 0, 0, contain, 0, 0, 0; }
.person-container .person.f4 { background-size: 0, 0, 0, 0, contain, 0, 0; }
.person-container .person.f5 { background-size: 0, 0, 0, 0, 0, contain, 0; }
.person-container .person.f6 { background-size: 0, 0, 0, 0, 0, 0, contain; }

.sound-hint-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.sound-hint-container .sound-hint {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    border: 5px solid lightblue;
    opacity: 0;
    transition: transform 1s linear, opacity .3s linear;
    overflow: hidden;
}

.sound-hint-container .sound-hint img {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sound-hint-container.show .sound-hint {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.sound-hint-container.success .sound-hint {
    transition: transform .5s linear, opacity .5s linear, background-color .5s ease;
    background-color: greenyellow;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
}

.sound-hint-container.failure .sound-hint {
    transition: transform .5s linear, opacity .5s linear, background-color .5s ease;
    background-color: red;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.sound-hint-container .hint-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid orangered;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

.sound-hint-container.show .hint-circle {
    transition: transform 1s linear, opacity .3s linear, border-color 1s linear;
    border-color: greenyellow;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.sound-hint-container.success .hint-circle,
.sound-hint-container.failure .hint-circle {
    opacity: 0;
}

.sound-hint-container.failure .hint-circle {
    border-color: red;
}

.status-line {
    display: block;
    height: 30px;
    background-color: orangered;
    margin-top: 10px;
}

.status-line.active {
    background-color: lightgreen;
}

.score {
    
}

.hidden {
    display: none !important;
}

.button-start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%) scale(1);
    width: 200px;
    height: 50px;
    background-color: lightblue;
    z-index: 999;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: color .3s ease;
    animation: buttonAttention 1.2s ease-out infinite;
}

@keyframes buttonAttention {
    0% {
        transform: translateX(-50%) scale(1);
    }
    30% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

.button-start:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FFD1E3;
    border-radius: 20px;
    z-index: -1;
    box-shadow: inset 0px 0px 8px 0px white;
}

.button-start:after {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    background-color: #7EA1FF;
    border-radius: 30px;
    z-index: -2;
    box-shadow: 1px 2px 7px 0px #6c6060;
}

.button-start.hide {
    color: transparent;
    animation: hideButton .6s ease forwards;
    animation-iteration-count: 1;
}

@keyframes hideButton {
    0% {
        width: 200px;
    }
    30% {
        color: transparent;
        width: 20px;
    }
    100% {
        width: 20px;
        transform: translate(-50%, 10%);
        opacity: 0;
    }
}

.init-scene {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(123deg, #d53369 0%, #daae51 100%);
    opacity: 1;
    transition: opacity .3s ease;
}

.init-scene.hide {
    opacity: 0;
}

.init-scene .preloader {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
}

.init-scene .preloader .text {
    font-size: 24px;
    color: #ffffff;
    margin-top: 15px;
    text-align: center;
}

.init-scene .circles {
    display: flex;
}

.init-scene .circles .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(320deg, #d53369 0%, #daae51 100%);
    margin: 0px 5px;
    transition: transform .3s ease;
}

.init-scene .circles .circle:nth-child(1) {
    animation: circleMove 1s ease infinite;
}

.init-scene .circles .circle:nth-child(2) {
    animation: circleMove 1s ease infinite .2s;
}

.init-scene .circles .circle:nth-child(3) {
    animation: circleMove 1s ease infinite .4s;
}

.init-scene .circles .circle:nth-child(4) {
    animation: circleMove 1s ease infinite .6s;
}

@keyframes circleMove {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.loading-hint {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-hint .text {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.loading-hint .lyric {
    position: relative;
    margin-top: 30px;
}

.loading-hint .lyric span {
    user-select: none;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.loading-hint .lyric .highlighter {
    position: absolute;
    left: 0;
    top: -2px;
    right: 0;
    height: 30px;
    background-color: #ffffff;
    z-index: -1;
    animation: highlighterMove 12s ease infinite .6s;
}

@keyframes highlighterMove {
    0% {
        top: -2px;
    }
    12% {
        top: 26px;
    }
    24% {
        top: 54px;
    }
    36% {
        top: 83px;
    }
    48% {
        top: 111px;
    }
    60% {
        top: 139px;
    }
    72% {
        top: 168px;
    }
    84% {
        top: 197px;
    }
    100% {
        top: -2px;
    }
}

.dialog-container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 25px;
    z-index: 1;
    color: #ffffff;
    text-shadow: 1px 1px 4px black;
    align-items: center;
}

.dialog-container > * {
    opacity: 0;
    transform: translateX(-20px);
    transition: transform .3s ease, opacity .3s ease;
    margin-bottom: 10px;
}

.dialog-container > *.show {
    opacity: 1;
    transform: translateX(0);
}

.dialog-container > *.hide {
    opacity: 0;
    transform: translateX(20px);
}

.dialog-container span:last-child {
    margin-bottom: 0;
}

.dialog-container .user-score {
    font-size: 40px;
    display: inline-block;
    padding: 5px;
    background: #FFD1E3;
}

.action-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    z-index: 999;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    transition: color .3s ease, transform .3s ease, opacity .3s ease;
    flex-shrink: 0;
    margin-top: 40px;
}

.action-button:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FFD1E3;
    border-radius: 20px;
    z-index: -1;
    box-shadow: inset 0px 0px 8px 0px white;
}

.action-button:after {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    background-color: #7EA1FF;
    border-radius: 30px;
    z-index: -2;
    box-shadow: 1px 2px 7px 0px #6c6060;
}

.text-link {
    position: relative;
    display: inline-block;
    background-color: #FFD1E3;
    border: 5px solid #7EA1FF;
    margin: 0 3px;
    padding: 0 10px;
    border-radius: 20px;
    transform: rotate(0deg) scale(0);
    animation: link 2s ease infinite;
}

.text-link:before {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/touch.svg');
    position: absolute;
    transform: translate(40px, -40px) rotate(225deg);
    animation: indicator 1s ease infinite;
}

@keyframes indicator {
    0% {
        transform: translate(40px, -40px) rotate(225deg);
    }
    50% {
        transform: translate(30px, -30px) rotate(225deg);
    }
    100% {
        transform: translate(40px, -40px) rotate(225deg);
    }
}

@keyframes link {
    0% {
        transform: rotate(0deg) scale(1);
    }
    30% {
        transform: rotate(5deg) scale(1.1);
    }
    60% {
        transform: rotate(-5deg) scale(0.9);
    }
    90% {
        transform: rotate(-5deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.dialog-container .cover {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.dialog-container .cover img {
    width: 100%;
    height: 100%;
}

.restart-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFD1E3;
    border: 5px solid #7EA1FF;
    z-index: 1;
    background-image: url('/images/restart.svg');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 8px 0px white, 1px 2px 7px 0px #6c6060;
    transition: opacity .3s ease, right .3s ease;
}

.restart-button.hide {
    opacity: 0;
    right: 0;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: -20px;
    right: 10px;
    opacity: 0;
    transition: opacity .3s ease, bottom .3s ease;
}

.content.show {
    opacity: 1;
    bottom: 20px;
}

.content .song-name {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    background-color: #FFD1E3;
    padding: 3px 10px;
}

.content .cover-main {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.content .cover-main img {
    width: 100%;
    height: 100%;
}

.content .socials {
    display: flex;
    justify-content: space-around;
}

.content .socials .soc-icon {
    width: 50px;
    height: 50px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFD1E3;
    border-radius: 50%; 
    margin-right: 5px;
    box-shadow: inset 0px 0px 8px 0px white;
}

.content .socials .soc-icon:last-child {
    margin-right: 0;
}

.content .socials .soc-icon.inst { background-image: url('/images/socials/inst.svg'); }
.content .socials .soc-icon.youtube { background-image: url('/images/socials/youtube.svg'); }
.content .socials .soc-icon.spotify { background-image: url('/images/socials/spotify.svg'); }
.content .socials .soc-icon.apple { background-image: url('/images/socials/apple.svg'); }
.content .socials .soc-icon.yandex { background-image: url('/images/socials/yan.png'); }
.content .socials .soc-icon.vk { background-image: url('/images/socials/vk.svg'); }